<div class="container-form">
<form action="answer" id="ask-form">
  <label for="question-field"><strong>Ask your coach a question</strong></label>
  <br>
  <br>
    <input type="text" name="question" id="question-field">
    <input type="submit" value="Ask!" id="submit-button">
</form>
</div>
