// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ask-form {
  width:500px;
  height:300px;
  text-align: center;
    #question-field {
      height:30px;
      width:300px;
    }
    #submit-button {
      color:white;
      background-color: #377BB5;
      height:40px;
    }

}
.container-form {
  width:100vw;
  height:1000px;
  display:flex;
  justify-content:center;
}

.user-question-block {
  border-left: 5px solid gray;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.coach-answer-block {
  border-left: 5px solid gray;
  background-color: #FFFEE2;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
